*{
  margin: 0;
  padding: 0;
}

.mb-2{
  margin-bottom: 0rem !important;
}

nav{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

.stylish {
  font-weight: bold;
  align-items: flex-start;
}

.logo {
  padding-right: 430px;
  padding-left: 6px;
  align-items: flex-start;
  color: #FFDC00;
}

.nav-link{
  display: block;
  color: #fff;
}

.navbar-expand-lg .navbar-nav .active{
  color: #FFDC00;
}

.nav-link .dropdown-toggle{
  padding: auto;
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link{
  padding-right: 1rem;
  padding-left: 1rem;
  color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link{
  color: #FFDC00;
}

.navbar-nav .nav-item .nav-link:hover{
  color: #FFDC00;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

.dropdown-item{
  text-transform: none;
}

.dropdown-item:hover{
  color:#FFDC00;
}

#aboutUs{
  margin-right: 20px;
}

#registerBtn{
  color: #FFDC00;
  border-color: #FFDC00;
  margin-left: 10px;
  margin-right: 10px;
}
 
          
      
  
  
  